<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="main-container" th:fragment="adminMenu">
    <div class="main-header">
        <a class="menu-link-main" href="/">Online Shop</a>
        <div class="header-menu">
            <a href="/admin/createCategory" style="width: 5px;">
                Category Page❤️
            </a>
            <a href="/admin/createProduct" style="width: 5px;">
                Product Page❤️
            </a>
        </div>
    </div>
</div>
</html>